<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comunicados e Inventos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>

    <header>
        <div class="container">
            <div class="box--nav">

                
                <div class="header--text">

                    <h1>Meet Chimoio</h1>
                </div>
                <button class="btnMN"><i class="fas fa-bars menu-icon" id="menuToggle"></i></button>
                <nav id="bar">
                    <ul>
                        <li>Inicio</li>
                        
                        <li>Eventos</li>
                        <li>Comunicados</li>
                        <li>Sobre Nos</li>
                        <li>Historia</li>
                        <li><button>Conctacte Nos</button></li>
                    </ul>
                </nav>
            </div>
        </div>

    </header>
    <main id="main--m2">
        <div class="container">
       
            <div class="box--card--main">
                
                <h4>
                    comunicado  mais recente.
                </h4>
                <h3>{{infoNewCm[0]}}</h3>

                
                <br>
                <img style="width: 90%;" src="{{infoNewCm[3]}}" alt="dadi" />
                    <p>{{infoNewCm[4]}}
                    </p>
               

            </div>
             <div class="form-search">
        	<input id="inPesq" type="search" placeholder="pesquisar eventos e comunicados...">
        	<button  id="btnSearch" type="button">🔍</button>
        </div>
        </div>
    </main>
    
    


    <section >
        <div class="container">

            <div style="margin-bottom: 20px; text-align: center; display:flex;align-items: center;">
        <h3 style="margin: 15px auto; text-align: center;" >Inventos Municipais </h3>
        
        <hr  style="width: 50%; text-align:center; height: 6px; background-color: orange; border: none; border-radius: 2px;">
        </div>
            <div id="mainBCardEv" class="main--box--card">

               

                {{pEvent | safe}}
                
            </div>
        </div>

    </section>
    <section><div class="container"><button>VER TODOS EVENTOS</button></div>
    </section>
    <section class="sc--comunic">
    	

        <div class="container">
         <div style="margin-bottom: 20px; text-align: center; display:flex;align-items: center;">
        <h3 style="margin: 15px auto; text-align: center;" >Comunicados & Noticias Locais </h3>
        
        <hr  style="width: 50%; text-align:center; height: 6px; background-color: orange; border: none; border-radius: 2px;">
        </div>
            <div id="mainBCardCm" class="main--comunic">
            {{pComunic | safe}}

                

            </div>
        </div>


    </section>

<section><div class="container"><button>VER TODOS COMUNICADOS</button></div>
    </section>
  
    <section class="sc-and">
        <div style="" class="container">
            <h2>Conheça a cidade de Chimoio</h2>
            <h4>Sistema Lançado sub liderança de: <b>João Ferreira</b></h4>
            <div class="box--and--main">

            
                <div class="box--left">
                    <div>
                        <p>Redes Sociais</p>
                        <div>
                            <img src="{{url_for('static', filename='images/logos/facebook.png')}}"/>
                            <img src="{{url_for('static', filename='images/logos/whatsapp.png')}}"/>
                            <img src="{{url_for('static', filename='images/logos/gmail.png')}}"/>
                        </div>
                    </div>

                </div>
                <div class="box--right">
                    <div>
                        <p>Contatos</p>
                        <div>
                            <ul>

                                <li>
                                    258 879349149

                                </li>
                            </ul>
                        </div>
                    </div>

                    

                </div>

                    

        </div>
        <h4>Site oficial do conselho municipal de Chimoio</h4>
        </div>

    </section>
    <footer>© 2025 | Uma solução criada por BSoft Tecnology</footer>


    <section  id="sc--communic">
        <div class="container">
            <button  onclick="dismissCommunic()">FECHAR</button>
            <div class="box--comunic--pop">
                <div class="comunic--head">

                    <img src="{{url_for('static', filename='images/comunicados/mcimoio.png')}}" alt="imgcominic" />
                    
                </div>
                <div class="comunic--content">
                    <div class="cmnc--title">

                        <h2>Comunicados de Chuvas Fortes</h2>
                    </div>
                    <div class="cmnc--title">
                        <p>Temos Previsao de Chuva Fortes 
                            nos proximos dias cheque as suas casas se estaao seguras
                        </p>

                        <p>Temos Previsao de Chuva Fortes 
                            nos proximos dias cheque as suas casas se estaao seguras
                        </p>
                        <p>Temos Previsao de Chuva Fortes 
                            nos proximos dias cheque as suas casas se estaao seguras
                            Temos Previsao de Chuva Fortes 
                            nos proximos dias cheque as suas casas se estaao seguras
                            Temos Previsao de Chuva Fortes 
                            nos proximos dias cheque as suas casas se estaao seguras
                            Temos Previsao de Chuva Fortes 
                            nos proximos dias cheque as suas casas se estaao seguras
                        </p>
                    </div>
                    


                </div>

            </div>
        </div>

    </section>

    <section id="sc--eventos">
        <div class="container">
            <button onclick="dismissEvent()" >FECHAR</button>
            <div class="box--card--pop">

                <img src="{{url_for('static', filename='images/Maputo-Mozambique.webp')}}" />

                <h3>
                    DIA 24 de Setembro

                </h3>
                <br>
                    <p>dia da luta armada esta reservado
                        uma festa na praca da independencia
                    </p>
               

            </div>
        </div>

    </section>


    <script src="{{url_for('static', filename='js/main.js')}}">
    </script>
    
    <script>

scEventos = document.getElementById("sc--eventos");
        scCommunic = document.getElementById("sc--communic");


        function showEvent() {
            //alert('mostrando os enventos');

            scEventos.style.display = 'block';
        }

        function dismissEvent() {
            scEventos.style.display = 'none';
    

        }

        function showCommunic() {
            //alert('mostrando os enventos');

            scCommunic.style.display = 'block';
        }

        function dismissCommunic() {
            scCommunic.style.display = 'none';
        }


    </script>

</body>
</html>