<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <title>Historia da Cidade de Chimoio</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="box--nav">

                
                <div class="header--text">

                    <h1>Meet Chimoio</h1>
                </div>
                <button class="btnMN"><i class="fas fa-bars menu-icon" id="menuToggle"></i></button>
                <nav id="bar">
                    <ul>
                        <a href="/"><li>Inicio</li></a>
                        <a href="/cmc_comunicados"><li>Comunicados</li></a>
                        <a href="/cmc_eventos"><li>Eventos</li></a>
                        <a href="sobre_nos"><li>Sobre Nôs</li></a>
                        <a href="/historia"><li>História</li></a>
                        <a href="/contatos"><li><button>Contate Nôs</button></li></a>
                    </ul>
                </nav>
            </div>
        </div>

    </header>


    <main id="main--his">
        <div style="height: 96%; background-color: #00558877;" class="container">

            <br>
            <br>
            <h1>A História da Nossa Cidade</h1>

           <a href="/comunicados&eventos"> <button>Nossas Novidades</button></a>

               

            </div>
        </div>
    </main>


    <section>
        <div style="display: flex;" class="container">
            <div class="bx--barra"></div>
            <div class="box--history">
                <div class="box--img--history">
                    <img src="{{url_for('static', filename='dadosCAC/vilaPery.jpg')}}" />

                </div>
                <div class="box--content--history">
                    <h2>A História da Cidade de Chimoio</h2>
                    <h3>Origens e História Colonial</h3>
      <p>Chimoio teve seus primórdios no final do século XIX. Em 1893 surgiu a Vila Barreto, criada para servir como terminal da linha férrea que ligava ao porto da Beira. Com o tempo, o núcleo evoluiu até formar o povoado Mandingos, depois renomeado Vila Pery em 1916, em homenagem a um governador colonial português.</p>
      <p>Em 1969, Vila Pery foi elevada à cidade. Após a independência de Moçambique em 1975, a cidade adotou o nome “Chimoio” por decreto de Samora Machel.</p>
      <p>Durante os anos seguintes, Chimoio foi afetada por conflitos regionais e guerras civis, exigindo esforços de reconstrução e estabilização.</p>
    
                    
                    <P>Chimoio, capital da província de Manica, é uma cidade com raízes históricas profundas. Antigamente conhecida como Vila Pery, a cidade desempenhou um papel importante no comércio e no transporte durante o período colonial. Após a independência de Moçambique, Chimoio cresceu em população, infraestruturas e dinamismo económico, tornando-se um dos centros urbanos mais importantes do centro do país. A cidade orgulha-se da sua diversidade cultural, das suas tradições e do espírito acolhedor do seu povo.

                    </P>

                </div>

                
                
            </div>
        </div>
    </section>

    <section>
        <div style="display: flex;" class="container">
            <div class="bx--barra"></div>
            <div class="box--history">
                <div class="box--img--history">
                    <img src="{{url_for('static', filename='dadosCAC/bmchimoio2.webp')}}" />

                </div>
                

                <div class="box--content--history">
                    <h2>Desenvolvimento e Situação Atual</h2>
      <p>Hoje, Chimoio é uma das cidades mais importantes de Moçambique, localizada na província de Manica. O crescimento populacional é expressivo e a cidade busca se modernizar e atender melhor seus cidadãos.</p>
      <p>Alguns dos avanços recentes com o presidente <b>Ferreira</b>:</p>
                    <img src="{{url_for('static', filename='dadosCAC/ferreiras2.png')}}" />

      <ul>
        <li>Projeto de Saneamento Urbano Inclusivo, avaliado em cerca de 27 milhões de dólares, beneficiando cerca de 190 mil pessoas.</li>
        <li>Revitalização de vias urbanas e asfaltamento de ruas que estavam deterioradas.</li>
        <li>Programas de limpeza urbana e reforço na coleta de lixo, principalmente em áreas centrais.</li>
        <li>Melhorias na infraestrutura esportiva, construção de balneários e apoio às associações desportivas locais.</li>
        <li>Expansão territorial planejada, com intenção de incorporar áreas vizinhas para expansão urbana organizada.</li>
          <li>Sob a liderança do presidente Ferreira, este sistema foi lançado com o propósito de fortalecer a interação entre os munícipes e o Conselho Municipal, promovendo uma gestão mais próxima e participativa. </li>
      </ul>
      <p>Entretanto, persistem desafios como o abastecimento de água em bairros periféricos, da gestão de resíduos sólidos nos subúrbios, iluminação pública e regularização fundiária.</p>
      
    

                </div>
                
            </div>
        </div>
    </section>



<section class="sc-and">
        <div style="" class="container">
            <h2>Conheça a cidade de Chimoio</h2>
            <h4>Sistema Lançado sob liderança de: <b>João Ferreira</b></h4>
            <div class="box--and--main">

            
                <div class="box--left">
                    <div>
                        <p>Redes Sociais</p>
                        <div>
                           <a href="https://www.facebook.com/cmchimoio"> <img src="{{url_for('static', filename='images/logos/facebook.png')}}"/></a>
                            <img src="{{url_for('static', filename='images/logos/whatsapp.png')}}"/>
                            <img src="{{url_for('static', filename='images/logos/gmail.png')}}"/>
                        </div>
                    </div>

                </div>
                <div class="box--right">
                    <div>
                        <p>Contatos</p>
                        <div>
                            <ul>

                                <li>
                                    258 879349149

                                </li>
                            </ul>
                        </div>
                    </div>

                    

                </div>

                    

        </div>
        <a style="color: #288;" href="/politicas">Políticas e Termos de Uso</a>
        <h4>Site oficial do Conselho Municipal de Chimoio</h4>
        </div>

    </section>
    <footer>© 2025 | Uma solução criada por BSoft Tecnology</footer>



<script src="{{url_for('static', filename='js/main.js')}}">
    </script>

    
</body>
</html>